<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="../css/bootstrap.min.css" th:href="@{/css/main.css}" rel="stylesheet">

    <!-- alpinejs-->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Core theme JS-->
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
</head>
</html>