<!doctype html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PR2S</title>
    <link href="../css/bootstrap.min.css" th:href="@{/main.css}" rel="stylesheet">
    <link th:href="@{/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css"/>

    <!-- Core theme JS-->
    <script defer th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>

    <!-- Alpine Plugins -->
    <script defer src="https://unpkg.com/@alpinejs/mask@3.10.4/dist/cdn.min.js" ></script>

    <!-- alpine JS-->
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" th:src="@{/alpinejs/dist/cdn.min.js}"></script>

    <!-- sweetalert2 -->
    <link th:href="@{/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>
    <script defer src="js/sweetalert2/sweetalert2.min.js" th:src="@{/sweetalert2/sweetalert2.min.js}"></script>
</head>
</html>