<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>로그인 페이지</title>
    <!-- Custom styles for this template-->
    <div th:replace="~{/common/fragments/head :: common-head}"></div>
    <style>
      .fs-7 {font-size: 0.8rem !important;}
    </style>
  </head>

  <body class="bg-gradient-gray">
    <div class="container col-lg-6">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">로그인</h1>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <a href="#" class="w-100 btn btn-outline-primary text-secondary py-2">
                <span>
                  <img src="..." th:src="@{/image/kakaologo.png}" class="rounded me-2" style="height: 1.5em; width: 1.5em;">
                  <span class="align-middle fw-bold">카카오로 로그인하기</span>
                </span>
              </a>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <a href="#" class="w-100 btn btn-outline-primary text-secondary py-2">
                <span>
                  <img src="..." th:src="@{/image/naver_icon.png}" class="rounded me-2" style="height: 1.5em; width: 1.5em;">
                  <span class="align-middle fw-bold">네이버로 로그인하기</span>
                </span>
              </a>
            </div>
            <hr />
            <form th:action="@{/login}" method="post">
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="이메일을 입력해주세요"/>
              </div>
              <div class="mb-3">
                <input type="password" name="password" class="form-control" placeholder="비밀번호를 입력해주세요"/>
              </div>
              <div class="form-group row mb-3">
                <div class="col-sm-4">
                  <input type="checkbox" class="custom-control-input" id="agreed" />
                  <label th:for="agreed" >로그인 기억하기</label>
                </div>
              </div>
              <div class = "d-flex justify-content-center mb-3">
                <button type="submit" class="w-100 btn btn-outline-primary">
                  로그인
                </button>
              </div>
            </form>
            <hr />
            <div class="text-center">
              <a class="small" href="/auth/register">회원가입</a>
            </div>
            <div class="text-center">
              <a class="small" href="forgot-password.html">비밀번호 찾기</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-->
    <div th:replace="~{/common/fragments/footer :: common-footer}"></div>
  </body>
</html>
