<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>회원가입</title>
    <!-- Custom styles for this template-->
    <div th:replace="~{/common/fragments/head :: common-head}"></div>
    <link th:href="@{/sweetalert2/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>

    <script defer src="js/sweetalert2/sweetalert2.min.js" th:src="@{/sweetalert2/sweetalert2.min.js}"></script>

    <style>
      .fs-7 {font-size: 0.8rem !important;}
    </style>
  </head>

  <body class="bg-gradient-gray">
    <div class="container col-lg-6">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <a href="index.html" class="w-100 btn btn-outline-primary text-secondary py-2">
                <span>
                  <img src="..." th:src="@{/image/kakaologo.png}" class="rounded me-2" style="height: 1.5em; width: 1.5em;">
                  <span class="align-middle fw-bold">카카오로 시작하기</span>
                </span>
              </a>
            </div>
            <div class="d-flex justify-content-center mb-3">
              <a href="index.html" class="w-100 btn btn-outline-primary text-secondary py-2">
                <span>
                  <img src="..." th:src="@{/image/naver_icon.png}" class="rounded me-2" style="height: 1.5em; width: 1.5em;">
                  <span class="align-middle fw-bold">네이버로 시작하기</span>
                </span>
              </a>
            </div>
            <hr />
            <form th:action="@{/auth/register}" method="post" th:object="${joinMemberDto}">
              <div class="mb-3">
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름"/>
                <p th:each="err : ${#fields.errors('name')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
              </div>
              <div class="form-group mb-3">
                <input type="text" th:field="*{nickname}" class="form-control form-control-user" placeholder="닉네임" />
                <p th:each="err : ${#fields.errors('nickname')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
              </div>
              <div class="form-group mb-3">
                <input type="text" th:field="*{telNo}" class="form-control form-control-user" placeholder="전화번호" />
                <p th:if="${#fields.hasErrors('telNo')}" th:text="'* ' + ${#fields.errors('telNo')[0]}" class="mt-2 fw-bold text-danger fs-7"/>
              </div>
              <div class="form-group row mb-3">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" th:field="*{password}" class="form-control form-control-user" placeholder="비밀번호" />
                  <p th:each="err : ${#fields.errors('password')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
                </div>
                <div class="col-sm-6">
                  <input type="password" th:field="*{repeatPassword}" class="form-control form-control-user" placeholder="비밀번호 확인"/>
                  <p th:each="err : ${#fields.errors('repeatPassword')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-sm-8 mb-3 mb-sm-0">
                  <input type="text" th:field="*{email}" class="form-control form-control-user" placeholder="이메일"/>
                  <p th:each="err : ${#fields.errors('email')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-outline-primary">
                    이메일 인증
                  </button>
                </div>
              </div>
              <div class="form-group row mb-3">
                <div class="col-sm-4">
                  <input type="checkbox" class="custom-control-input" th:field="*{agreed}" />
                  <label th:for="${#ids.next('agreed')}" >약관에 모두 동의</label>
                  <p th:each="err : ${#fields.errors('agreed')}" th:text="'* '+${err}" class="mt-2 fw-bold text-danger fs-7"/>
                </div>
              </div>
              <input type="hidden" id="addressId" name="addressId" value="1">
              <input type="hidden" id="fileId" name="fileId" value="11">
              <div class = "d-flex justify-content-center mb-3">
                <button type="submit" class="w-100 btn btn-outline-primary">
                  회원가입
                </button>
              </div>
            </form>
            <div class="text-center">
                <a class="small" href="/auth/login"
                  >이미 가입하셨다면? 로그인하기!</a
                >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer-->
    <div th:replace="~{/common/fragments/footer :: common-footer}"></div>
    <script th:inline="javascript">
      console.log("helloScript");
      function registerCheck() {
        alert("registerCheck enter");
      }
    </script>
  </body>
</html>
